.items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    align-items: center;
}
  
.card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px; 
  }

  mat-expansion-panel{
    width: 20%;
    float: left;
    border-right: 1px solid #666;
    margin-right: 20px;
  }

  .component-wrapper{
    display: inline;
  }

  mat-form-field{
    width: 100%;
  }